html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px!important; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}

/* Used to hide the number of references in publishArticle.html */ 
.hide {
	display: none!important;
}

.navbar-nav .nav-item:hover {
    background-color: #555555;
}