<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:insert="general.html :: headerfiles (${pageTitle})"></head>

<body>

	<header th:replace="general.html :: header-information (${pageActive})"></header>

	<main role="main" class="container py-3">
	   <section>
			<div class="row">
			  <div class="col-sm-6 pb-2" th:each="category : ${categories}">
			    <div class="card">
			      <div class="card-body">
			        <h5 class="card-title" th:text="${category.key}"></h5>
			        <a th:href="${category.value}" class="btn btn-primary">Lire</a>
			      </div>
			    </div>
			  </div>
			</div>
	   </section>
	</main>

	<footer th:replace="general.html :: footer-informations"></footer>

	<div th:replace="general.html :: scripts"></div>
</body>
</html>