<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:insert="general.html :: headerfiles (${article.title})"></head>

<body>

	<header th:replace="general.html :: header-information (${article.slug})"></header>

	<main role="main" class="container py-3">
		<section>
			<article class="card rounded-0">
				<div class="card-header">
                    <div class="float-right">
                        <a th:href="'/article/modification/' + ${article.slug}" class="btn btn-outline-info btn-sm">Modifier</a>
                        <a th:href="'/article/suppression/' + ${article.slug}" class="btn btn-outline-danger btn-sm">Supprimer</a>
                    </div>
                    <h1 class="card-text" th:text="${article.title}">Titre</h1>
                    <h5 th:if="${article.subTitle}" th:text="${article.subTitle}">Sous-titre</h5>
                    <p class="text-secondary">Par
                        <th:block th:each="author, iter : ${article.users}">
                            <a class="text-dark" th:href="'/redacteur/profil/' + ${#strings.toLowerCase(author.firstname)} + '-' + ${#strings.toLowerCase(author.lastname)}" th:text="${author.firstname} + ' ' + ${author.lastname}"></a><th:block th:text="${iter.last} ? '.' : ', '"></th:block>
                        </th:block>
                        Publié le
                        <th:block th:text="${#dates.format(article.publicationDate, 'dd/MM/yyyy')} + ' à ' + ${#dates.format(article.publicationDate, 'HH:mm')} + '.'"></th:block>
                        <th:block th:if="${article.modificationDate}" th:text="'Modifié le ' + ${#dates.format(article.modificationDate, 'dd/MM/yyyy')} + ' à ' + ${#dates.format(article.modificationDate, 'HH:mm')}"></th:block>
                    </p>
                    <div class="mb-3">
                        <a th:each="tag : ${article.tags}" class="badge badge-secondary mr-2" th:href="'/etiquette/voir/' + ${tag.description}" th:text="'#' + ${tag.description}"></a>
                    </div>
				</div>
				<div class="card-body">
					<div class="card-text">
					   <p th:if="${article.eventDate}">Date de l'évènement : <mark th:text="${#dates.format(article.eventDate, 'dd/MM/yyyy')}"></mark>.</p>
					   <th:block th:utext="${article.content}"></th:block>
				   </div>
				</div>
				<div class="card-footer">
				    <ul class="list-unstyled">
				        <li th:each="ref : ${article.references}"><a th:href="'#citeRef' + ${ref.orderIndex}" class="float-left mr-1" th:id="'defRef' + ${ref.orderIndex}" th:text="'[' + ${ref.orderIndex} + '] '"></a><th:block th:utext="${ref.content}"></th:block></li>
				    </ul>
				</div>
			</article>
		</section>
	</main>

	<footer th:replace="general.html :: footer-informations"></footer>

    <div th:replace="general.html :: scripts"></div>
</body>
</html>