<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="headerfiles (title)">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Site Web d'actualité à propos du RGPD.">
    <meta name="author" content="">
    <link rel="icon" type="image/png" th:href="@{/img/logo.png}" />
	<title th:text="${title}"></title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/tagsinput.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/summernote/summernote-bs4.css}">
</th:block>

<header th:fragment="header-information (pageActive)">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md">
					<a class="navbar-brand" href="/">
					<img th:src="@{/img/logo.png}" width="30" height="30" class="d-inline-block align-bottom" alt="">
					CyberJuriste
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
				</div>
				<div class="col-md">
					<form class="form-inline" action="/recherche">
					    <input class="form-control form-control-sm mr-sm-2" type="text" placeholder="Rechercher" aria-label="Rechercher" name="search" required>
					    <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">Rechercher</button>
					</form>
                </div>
                <div class="w-100"></div>
                <div class="col-md">
					<div class="collapse navbar-collapse" id="navbarCollapse">
					    <ul class="navbar-nav mr-auto">
					        <li class="nav-item"><a th:class="(${pageActive} == 'qui-sommes-nous') ? 'nav-link bg-light text-dark' : 'nav-link'" href="/article/lire/qui-sommes-nous">Qui sommes nous ?</a></li>
					        <li class="nav-item"><a th:class="(${pageActive} == 'a-propos-du-rgpd') ? 'nav-link bg-light text-dark' : 'nav-link'" href="/article/a-propos-du-rgpd/categories">À propos du RGPD</a></li>
					        <li class="nav-item"><a th:class="(${pageActive} == 'actualites') ? 'nav-link bg-light text-dark' : 'nav-link'" href="/article/actualites">Actualités</a></li>
					        <li class="nav-item"><a th:class="(${pageActive} == 'interview') ? 'nav-link bg-light text-dark' : 'nav-link'" href="/interview/categories">Interview</a></li> <!-- /interviews -->
					        <li class="nav-item"><a th:class="(${pageActive} == 'glossaire') ? 'nav-link bg-light text-dark' : 'nav-link'" href="/wip">Glossaire</a></li> <!-- /glossaire -->
					        <li class="nav-item"><a th:class="(${pageActive} == 'connexion') ? 'nav-link bg-light text-dark' : 'nav-link'" href="/wip">Espace rédacteur</a></li> <!-- /connexion -->
					        <li class="pt-1"><a class="btn btn-outline-light btn-sm float-right align-bottom" href="/article/creation">Création d'article</a></li>
					    </ul>
					</div>
                </div>
            </div>
        </div>
	</nav>
</header>

<footer th:fragment="footer-informations" class="footer bg-dark">
	<div class="container">
		<span class="text-muted">© CyberJuriste 2019</span>
	</div>
</footer>

<th:block th:fragment="scripts">
    <script type="text/javascript" th:src="@{/js/jquery.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</th:block>

<section th:fragment="topics">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6 card rounded-0">
                <div class="card-body">
                    <h4>Evenements</h4>
                    <p>1 Million</p>
                </div>
            </div>
            <div class="col-sm-6 card rounded-0">
                <div class="card-body">
                    <h4>Article les plus lus ce mois-ci</h4>
                    <p>100 Million</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 card rounded-0">
        <div class="card-body">
            <h4>Remarques</h4>
            <p>Some text..</p>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-8 card rounded-0">
                <div class="card-body">
                    <p>Statistiques de recherches</p>
                </div>
            </div>
            <div class="col-sm-4 card rounded-0">
                <div class="card-body">
                    <p>Text</p>
                </div>
            </div>
        </div>
    </div>
</section>

</html>