<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:insert="general.html :: headerfiles (${pageTitle})"></head>

<body>

    <header th:replace="general.html :: header-information ('')"></header>

    <main role="main" class="container py-3">
        <section>
			<div class="alert alert-danger" role="alert">
                <h4 class="alert-heading" th:text="${errorHeader}"></h4>
                <p th:text=${errorMsg}></p>
                <hr th:if=${errorFooter}>
                <p class="mb-0" th:if=${errorFooter} th:text=${errorFooter}></p>
			</div>
        </section>
    </main>

    <footer th:replace="general.html :: footer-informations"></footer>

    <div th:replace="general.html :: scripts"></div>
</body>
</html>