<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:insert="general.html :: headerfiles (${pageTitle})">
    <link rel="stylesheet" type="text/css" th:href="@{/css/tagsinput.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/summernote/summernote-bs4.css}">
</head>

<body>

    <header th:replace="general.html :: header-information ('')"></header>

    <main role="main" class="container py-3">
        <h1>Édition d'article</h1>
		<form id="formEvent" action="/article/creation" method="post">
			<div class="form-group">
				<label for="inputtitle">Titre</label>
				<input type="text" class="form-control" name="title" id="inputtitle" placeholder="Titre de l'article" required>
			</div>
			
			<div class="form-groupe">
                <label for="inputsubtitle">Sous-Titre</label>
                <input type="text" class="form-control" name="subTitle" id="inputsubtitle" placeholder="Sous-Titre de l'article">
			</div>
	
			<div class="form-group">
		        <!--/* https://github.com/Nodws/bootstrap4-tagsinput */-->
				<label for="inputkeywords">Mots-clés</label>
				<input name="keywords" id="inputkeywords" data-role="tagsinput" placeholder="Mots Clés">
			</div>
	
			<div id="inputTypeDiv" class="form-group">
				<label for="inputType">Type de l'article</label>
				<select class="form-control" id="inputType" name="type" required>
					<option value="1">Article Classique</option>
					<option value="2">Présentation</option>
					<option value="3">Interview</option>
					<option value="4">Evénement à venir</option>
				</select>
			</div>

			<div class="form-group">
				<label for="inputAuthors">Auteurs</label>
				<select multiple class="form-control" id="inputAuthors" name="authors" required>
				    <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.firstname} + ' ' + ${user.lastname}"></option>
				</select>
			</div>
	
			<div class="form-group">
				<label for="summernote">Contenu de l'article</label>
				<textarea class="form-control summernote" name="content" required></textarea>
			</div>

			<div class="form-group">
				<label for="description">Références</label>
				<button type="button" id="btnAppend" class="btn btn-light addButton"><i class="fa fa-plus">+</i></button>
	            <div id="refs"></div>
			</div>

			<div class="form-group hide">
				<label for="nbrRef">Nombre de références</label>
				<input type="number" min="0" class="form-control" name="nbrRefs" id="nbrRef" value="0">
			</div>

            <button type="submit" name="createArticle" class="btn btn-secondary" value="draft">Brouillon</button>
            <button type="submit" name="createArticle" class="btn btn-primary float-right" value="publish">Publier</button>
		</form>
	</main>

	<footer th:replace="general.html :: footer-informations"></footer>
	
	<th:block th:insert="general.html :: scripts"></th:block>
    <script type="text/javascript" th:src="@{/js/tagsinput.js}"></script>
    <script type="text/javascript" th:src="@{/summernote/summernote-bs4.js}"></script>
    <script type="text/javascript" th:src="@{/js/articleEditionLogic.js}"></script>
    <script type="text/javascript">
    // Setup summernote for the content textarea
    $(document).ready(function() {
        $('.summernote').summernote();
    });
    </script>
</body>
</html>