<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:insert="general.html :: headerfiles ('Rédacteur')"></head>

<body>

    <header th:replace="general.html :: header-information ('')"></header>

    <main role="main" class="container py-3">
        <section>
            <div class="card mb-3">
                <div class="card-body">
					<ul class="list-inline pb-0 mb-0">
					    <li class="list-inline-item" th:text="${author.firstname} + ' ' + ${author.lastname}"></li>
					    <li class="list-inline-item"><a th:href="'mailto:' + ${author.mail}" th:text="${author.mail}"></a></li>
					</ul>
                </div>
            </div>
            <div th:if="${msg}" class="alert alert-light" role="alert">
                <p th:text="${msg}" class="text-sm-center"></p>
            </div>
            <section th:if="${not #lists.isEmpty(articles)}" th:replace="summaryArticle.html :: summary-article (${author.articles})"></section>
        </section>
    </main>
    
    <footer th:replace="general.html :: footer-informations"></footer>
    
    <div th:replace="general.html :: scripts"></div>
    
</body>