<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:insert="general.html :: headerfiles (${pageTitle})"></head>

<body>

<header th:replace="general.html :: header-information ('Recherche')"></header>

<main role="main" class="container py-3">
    <div th:if="${msg}" class="alert alert-light" role="alert">
        <p th:text="${msg}" class="text-sm-center"></p>
    </div>
    <section th:if="${not #lists.isEmpty(tags)}" class="pb-3">
        <div class="card">
            <div class="card-header"><h4>Étiquettes</h4></div>
            <div class="card-body">
                <a th:each="tag : ${tags}" class="badge badge-secondary mr-2" th:href="'/etiquette/voir/' + ${tag.description}" th:text="'#' + ${tag.description}"></a>
            </div>
        </div>
    </section>
    <section th:if="${not #lists.isEmpty(articles)}" th:replace="summaryArticle.html :: summary-article (${articles})"></section>
</main>

<footer th:replace="general.html :: footer-informations"></footer>

<div th:replace="general.html :: scripts"></div>
</body>
</html>