<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<section th:fragment="summary-article (articles)">
	<div th:if="${articles}" class="card">
	    <div class="card-header"><h4>Articles</h4></div>
	    <ul class="list-group list-group-flush">
	        <li class="list-group-item" th:each="article,iter : ${articles}">
	            <article class="row">
	                <div class="col">
	                    <h4 class="card-title">
	                        <th:block th:text="${article.title}"></th:block>
	                        <small class="text-secondary h6">Par <th:block
	                                th:each="author, iter : ${article.users}">
	                                <a class="text-dark"
	                                    th:href="'/redacteur/profil/' + ${#strings.toLowerCase(author.firstname)} + '-' + ${#strings.toLowerCase(author.lastname)}"
	                                    th:text="${author.firstname} + ' ' + ${author.lastname}"></a><th:block th:text="${iter.last} ? '.' : ', '"></th:block>
	                            </th:block> Publié le <th:block
	                                th:text="${#dates.format(article.publicationDate, 'dd/MM/yyyy')} + '.'"></th:block>
	                        </small>
	                    </h4>
	                </div>
	                <div class="w-100"></div>
	                <div class="col">
	                    <p th:text="${articlesContentPreview[iter.index]}" class="text-truncate"></p>
	                    <a th:href="'/article/lire/' + ${article.slug}"
	                        class="btn btn-outline-primary btn-sm">Lire l'article</a>
	                    <div class="float-right">
	                        <a th:href="'/article/modification/' + ${article.slug}" class="btn btn-outline-info btn-sm">Modifier</a>
	                        <a th:href="'/article/suppression/' + ${article.slug}" class="btn btn-outline-danger btn-sm">Supprimer</a>
	                    </div>
	                </div>
	            </article>
	        </li>
	    </ul>
	</div>
</section>

</html>